src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    ADDRESS*,
    CAR*,
    PERSON*,
    PERSON_CAR*)>

<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ID CDATA #REQUIRED
    MIASTO CDATA #IMPLIED
    NUMERDOMU CDATA #IMPLIED
    ULICA CDATA #IMPLIED
    PERSON_ID CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
>

<!ELEMENT CAR EMPTY>
<!ATTLIST CAR
    ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    PIN CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT PERSON_CAR EMPTY>
<!ATTLIST PERSON_CAR
    CARS_ID CDATA #REQUIRED
    PERSON_ID CDATA #REQUIRED
>

